<div>
    <form class="edit-post-form">
        <div>

            <input id="post_title" type="text" value='{{posts.post_title}}' />
        </div>
        <div>
            <input type="text" id="post_content" value="{{posts.post_content}}" />
        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>