<form class="signup-form">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" />
  </div>
  <div>
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>